<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.OrderUserMapper">
    <resultMap id="BaseResultMap" type="com.mod.loan.model.OrderUser">
        <!-- WARNING - @mbg.generated -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="source" jdbcType="INTEGER" property="source"/>
        <result column="merchant_rate_id" jdbcType="INTEGER" property="merchantRateId"/>
    </resultMap>

    <select id="selectByOrderNo" resultMap="BaseResultMap">
		select * from tb_user_order where order_no =#{orderNo}
		and source =1
	</select>

</mapper>