<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mod.loan.mapper.TbDecisionResDetailMapper">
    <resultMap id="BaseResultMap" type="com.mod.loan.model.TbDecisionResDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="order_id" property="order_id" jdbcType="BIGINT"/>
        <result column="decision_no" property="decisionNo" jdbcType="VARCHAR"/>
        <result column="trans_id" property="transId" jdbcType="VARCHAR"/>
        <result column="orderStatus" property="orderstatus" jdbcType="VARCHAR"/>
        <result column="order_money" property="orderMoney" jdbcType="BIGINT"/>
        <result column="fee" property="fee" jdbcType="BIT"/>
        <result column="custom_grade" property="customGrade" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="descs" property="descs" jdbcType="VARCHAR"/>
        <result column="resScore" property="resscore" jdbcType="DOUBLE"/>
        <result column="strategies" property="strategies" jdbcType="VARCHAR"/>
        <result column="createTime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <update id="updateByTransId" parameterType="com.mod.loan.model.TbDecisionResDetail">
    update tb_decision_res_detail set
    orderStatus =#{orderstatus},
    order_money =#{orderMoney},
    fee =#{fee},
    custom_grade =#{customGrade},
    code =#{code},
    descs =#{descs},
    resScore =#{resscore},
    createTime =#{createtime},
    updateTime = now()
    where trans_id =#{transId}
    </update>

    <select id="selectByTransId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from tb_decision_res_detail where trans_id =#{transId}
    </select>

</mapper>